<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form_staff">
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :名前 %></td>
      <th class="input_staff"><%= f.text_field :name %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :カナ %></td>
      <th class="input_staff"><%= f.text_field :name_kana %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :性別 %></td>
      <th class="input_staff">
        <%= f.radio_button(:sex, "male") %>
        <%= f.label :sex, '男性', :value => "male" %>
        <%= f.radio_button(:sex, "female") %>
        <%= f.label :sex, '女性', :value => "female" %>
      </th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :生年月日 %></td>
      <th class="input_staff">
        <%= f.date_select(
          :birth,
          start_year: 1930,
          end_year:   (Time.now.year),
          default:    Date.new(1989, 1, 1)) %>
      </th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :年齢 %></td>
      <th class="input_staff"><%= f.number_field :age %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :郵便番号 %></td>
      <th class="input_staff"><%= f.number_field :postal_code %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :住所 %></td>
      <th class="input_staff"><%= f.text_area :address %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :携帯番号 %></td>
      <th class="input_staff"><%= f.text_field :phone_num %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :自宅番号 %></td>
      <th class="input_staff"><%= f.text_field :home_num %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :メールアドレス %></td>
      <th class="input_staff"><%= f.text_field :mail %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :役職 %></td>
      <th class="input_staff"><%= f.select :role, Staff.role.options %></th>
    </tr>
    <tr>
      <td class="title_staff" style="text-align:center;"><%= f.label :在職ステータス %></td>
      <th class="input_staff"><%= f.select :status, Staff.status.options %></th>
    </tr>
  </table>



  <div class="actions">
    <%= f.submit '登録', :confirm => '登録してもよろしいですか？', :disable_with =>'登録中...' %>
  </div>
<% end %>
