<p id="notice"><%= notice %></p>
<center>
  <h1>スタッフ一覧</h1>
</center>

<fieldset class="search_zone"><legend>検索</legend>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_start, "担当者番号：" %>
    <%= f.search_field :id_eq %><br>
    <%= f.label :name_start, "氏名　　　：" %>
    <%= f.search_field :name_kana_start, placeholder: "カナ" %><br>

    <%# 検索ボタン %>
    <%= f.submit '検索' %>
  <% end %>
</fieldset>

<br>

<table>
  <thead>
    <tr class="title_staff">
      <th>スタッフ番号</th>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th>携帯番号</th>
      <th>役職</th>
      <th>在職ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= link_to staff.name, staff %></td>
        <td><%= staff.sex_text %></td>
        <td><%= staff.age %>歳</td>
        <td><%= staff.phone_num %></td>
        <td><%= staff.role_text %></td>
        <td><%= staff.status_text %></td>
      </tr>
    <% end %>
    <% @staffs2.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= link_to staff.name, staff %></td>
        <td><%= staff.sex_text %></td>
        <td><%= staff.age %>歳</td>
        <td><%= staff.phone_num %></td>
        <td><%= staff.role_text %></td>
        <td><%= staff.status_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_staff_path %>
