<br>
<br>
<br>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
<div class="center_list" >
  <div class="company">デイサービスこんぺいとう</div>
    <table style="border:none" class="login">
      <tr style="border:none">
        <td style="border:none"><strong><%= f.label :ログイン名 %></strong></td>
        <th style="border:none"><%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", :size=>"30x1" %></th>
      </tr>
      <tr style="border:none">
        <td style="border:none"><strong><%= f.label :パスワード %></strong></td>
        <th style="border:none"><%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", :size=>"30x1" %></th>
      </tr>
      <tr style="border:none">
        <td style="border:none"></td>
        <th style="border:none">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン状態にする %>
          <% end -%>
        </th>
      </tr>
      <tr style="border:none">
        <td style="border:none"></td>
        <th style="border:none">
          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
          <% end %>
        </th>
      </tr>
    </table>
<%= render "users/shared/links" %>
</div>