<p id="notice"><%= notice %></p>
<center>
  <h1>ケアマネージャー一覧</h1>
</center>

<fieldset class="search_zone"><legend>検索</legend>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_start, "ケアマネ番号：" %>
    <%= f.search_field :id_eq %><br>
    <%= f.label :name_start, "氏名　　　　：" %>
    <%= f.search_field :name_start %><br>
    <%= f.label :name_kana_start, "カナ　　　　：" %>
    <%= f.search_field :name_kana_start %><br>
    <%= f.label :company_start, "会社名　　　：" %>
    <%= f.collection_select( :company,@caremanagers, :company, :company)%><br>
    <%# 検索ボタン %>
    <%= f.submit '検索' %>
  <% end %>
</fieldset>

<br>

<table>
  <thead>
    <tr class="title_caremaneger">
      <th>ケアマネ番号</th>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th>電話番号</th>
      <th>所属社名</th>
      <th>在職ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @caremanagers.each do |caremanager| %>
      <tr>
        <td><%= caremanager.id %></td>
        <td><%= link_to caremanager.name, caremanager %></td>
        <td><%= caremanager.sex_text %></td>
        <td><%= caremanager.age %>歳</td>
        <td><%= caremanager.phone_num %></td>
        <td><%= caremanager.company %></td>
        <td><%= caremanager.status_text %></td>
      </tr>
    <% end %>
    <% @caremanagers2.each do |caremanager| %>
      <tr>
        <td><%= caremanager.id %></td>
        <td><%= link_to caremanager.name, caremanager %></td>
        <td><%= caremanager.sex_text %></td>
        <td><%= caremanager.age %>歳</td>
        <td><%= caremanager.phone_num %></td>
        <td><%= caremanager.company %></td>
        <td><%= caremanager.status_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_caremanager_path %>
