<p id="notice"><%= notice %></p>
<center>
  <h3><%= @caremanager.name_kana %></h3>
  <h1><%= @caremanager.name %></h1>
</center>

<table class="detail_table_caremaneger">
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>性別</strong></td>
    <th class="input_caremaneger"><%= @caremanager.sex_text %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>生年月日</strong></td>
    <th class="input_caremaneger"><%= @caremanager.birth %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>年齢</strong></td>
    <th class="input_caremaneger"><%= @caremanager.age %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>郵便番号</strong></td>
    <th class="input_caremaneger"><%= @caremanager.postal_code %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>住所</strong></td>
    <th class="input_caremaneger"><%= @caremanager.address %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>電話番号</strong></td>
    <th class="input_caremaneger"><%= @caremanager.phone_num %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>メールアドレス</strong></td>
    <th class="input_caremaneger"><%= @caremanager.mail %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>所属社名</strong></td>
    <th class="input_caremaneger"><%= @caremanager.company %></th>
  </tr>
  <tr>
    <td class="title_caremaneger" style="text-align:center;"><strong>在籍ステータス</strong></td>
    <th class="input_caremaneger"><%= @caremanager.status_text %></th>
  </tr>
</table>
<%= link_to '編集', edit_caremanager_path(@caremanager) %> |
<%= link_to '一覧へ', caremanagers_path %>
