<%= form_for(@cus_family) do |f| %>
  <% if @cus_family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cus_family.errors.count, "error") %> prohibited this cus_family from being saved:</h2>

      <ul>
      <% @cus_family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="form">
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :名前 %></td>
    <th class="input"><%= f.text_field :name %></th>
  </tr>
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :カナ %></td>
    <th class="input"><%= f.text_field :name_kana %></th>
  </tr>
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :続柄 %></td>
    <th class="input"><%= f.text_field :relation %></th>
  </tr>
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :同居・別居 %></td>
      <th class="input">
        <%= f.radio_button(:living, "together") %>
        <%= f.label :living, '同居', :value => "together" %>
        <%= f.radio_button(:living, "separate") %>
        <%= f.label :living, '別居', :value => "separate" %>
      </th>
  </tr>
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :住所 %></td>
    <th class="input"><%= f.text_area :address %></th>
  </tr>
  <tr>
    <td class="title" style="text-align:center;"><%= f.label :連絡先 %></td>
    <th class="input"><%= f.text_area :contact %></th>
  </tr>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
</table>

<div class="actions">
  <%= f.submit '登録', :confirm => '登録してもよろしいですか？', :disable_with =>'登録中...' %>
</div>

<% end %>
