<p id="notice"><%= notice %></p>
<center>
  <h1>家族参照</h1>
</center>

<table>
  <thead>
    <tr class="title">
      <th>名前</th>
      <th>カナ</th>
      <th>続柄</th>
      <th>同居・別居</th>
      <th>住所</th>
      <th>連絡先</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cus_families.each do |cus_family| %>
      <tr>
        <td><%= cus_family.name %></td>
        <td><%= cus_family.name_kana %></td>
        <td><%= cus_family.relation %></td>
        <td><%= cus_family.living %></td>
        <td><%= cus_family.address %></td>
        <td><%= cus_family.contact %></td>
        <td><%= cus_family.customer %></td>
        <td><%= link_to '編集', edit_cus_family_path(cus_family) %></td>
        <td><%= link_to '削除', cus_family, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_cus_family_path %>
