<p id="notice"><%= notice %></p>
<center>
  <h3><%= @customer.name_kana %> 　</h3>
  <h1><%= @customer.name %> 様</h1>
</center>

<table class="detail_table_cus">
  <td colspan="4" class="head_customer" style="text-align:center;">基本情報</td>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>被保険者番号</strong></td>
    <th class="input_cus"><%= @customer.insure_num %></th>
    <td class="title_cus" style="text-align:center;"><strong>受付日</strong></td>
    <th class="input_cus"><%= @customer.reception_day.strftime("%Y年%m月%d日") %></th> 
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>作成日</strong></td>
    <th class="input_cus"><%= @customer.created_at.strftime("%Y年%m月%d日 %H時%M分") %></th>
    <td class="title_cus" style="text-align:center;"><strong>更新日</strong></td>
    <th class="input_cus"><%= @customer.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>生年月日</strong></td>
    <th class="input_cus"><%= @customer.birth.strftime("%Y年%m月%d日") %></th>
    <td class="title_cus" style="text-align:center;"><strong>性別</strong></td>
    <th class="input_cus"><%= @customer.sex_text %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>郵便番号</strong></td>
    <th class="input_cus"><%= @customer.postal_code %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>住所</strong></td>
    <th colspan="3" class="input_cus"><%= @customer.address %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>自宅番号</strong></td>
    <th class="input_cus"><%= @customer.home_num %></th>
    <td class="title_cus" style="text-align:center;"><strong>携帯番号</strong></td>
    <th class="input_cus"><%= @customer.phone_num %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>FAX</strong></td>
    <th class="input_cus"><%= @customer.fax %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>メールアドレス</strong></td>
    <th colspan="3" class="input_cus"><%= @customer.mail %></th>
  </tr>
</table>

<table class="detail_table_cus">  
  <tr><%= cus_family_title(@cus_families) %>
      <th class="title_cusfami_name" style="text-align:center;"><strong>氏名</strong></th>
      <th class="title_cusfami_relation" style="text-align:center;"><strong>続柄</strong></th>
      <th class="title_cusfami_living" style="text-align:center;"><strong>同居・別居</strong></th>
      <th class="title_cusfami_address" style="text-align:center;"><strong>住所</strong></th>
      <th class="title_cusfami_contact" style="text-align:center;"><strong>連絡先</strong></th>
  </tr>
  <% @cus_families.each do |cus_family| %>
  <tr>
    <td class="input_cusfami_name"><%= cus_family.name %></td>
    <td class="input_cusfami_relation"><%= cus_family.relation %></td>
    <td class="input_cusfami_living"><%= cus_family.living %></td>
    <td class="input_cusfami_address"><%= cus_family.address %></td>
    <td class="input_cusfami_contact"><%= cus_family.contact %></td>
    </tr>
  <% end %>
</table>

<table class="detail_table_cus">
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>相談の経緯</strong></td>
    <th colspan="3" class="input_cus"><%= @customer.history_of_consul %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>主訴・要望</strong></td>
    <th colspan="3" class="input_cus"><%= @customer.demand %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>世帯</strong></td>
    <th class="input_cus"><%= @customer.household_text %></th>
    <td class="title_cus" style="text-align:center;"><strong>家族状況</strong></td>
    <th class="input_cus"><%= @customer.family_situation %></th>
  </tr>
  <tr>
    <td class="title_cus" style="text-align:center;"><strong>在籍ステータス</strong></td>
    <th class="input_cus"><%= @customer.status_text %></th>
    <td class="title_cus" style="text-align:center;"><strong style="font-size:10px;">担当ケアマネージャー</strong></td>
    <th class="input_cus"><%= @customer.caremanager.name %></th>
  </tr>
</table>
<p></p>
<div class="btn_zone">
  <%= link_to '削除', customers_path(@customer), method: :delete, data: { confirm: '削除すると復元できません。退職された場合は「在籍ステータス」を変更してください。それでもよろしいですか？' }, class: "delete_btn" %><br>
</div>

<input type="checkbox" class="check" id="checked">
<label class="menu-btn" for="checked">
  <span class="bar top"></span>
  <span class="bar middle"></span>
  <span class="bar bottom"></span>
  <span class="menu-btn__text">MENU</span>
</label>

<label class="close-menu" for="checked"></label>

<nav class="drawer-menu">
  <ul>
    <li><%= link_to '介護記録作成', new_care_record_path(@customer) %></li>
    <li><a href="#">介護記録一覧</a></li>
    <li><a href="#">連絡帳一覧</a></li>
    <li><%= link_to '編集', edit_customer_path(@customer) %></li>
    <li><%= link_to '利用者一覧', customers_path %></li>
  </ul>
</nav>