<p id="notice"><%= notice %></p>
<center>
  <h1>さんの連絡帳</h1>
</center>

<table class="detail_table_care_record">
  <td colspan="4" class="head_caremaneger" style="text-align:center;">基本情報</td>
  <tr>
    <td class="title_care_record"><strong>日付</strong></td>
    <th colspan="3" class="input_care_record"><%= @care_record.day.strftime("%Y年%m月%d日") %></th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>血圧</strong></td>
    <th class="input_care_record"><%= @care_record.blood_pressure %></th>
    <td class="title_care_record"><strong>脈</strong></td>
    <th class="input_care_record"><%= @care_record.pulse %></th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>体温</strong></td>
    <th class="input_care_record"><%= @care_record.temperature %></th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>施術内容</strong></td>
    <th colspan="3" class="input_care_record"><%= @care_record.training %></th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>散歩</strong></td>
    <th class="input_care_record"><%= @care_record.walking %></th>
    <td class="title_care_record"><strong>レクリエーション</strong></td>
    <th class="input_care_record"><%= @care_record.rec_name %></th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>入浴</strong></td>
    <th class="input_care_record"><%= @care_record.bathing %></th>
    <td class="title_care_record"><strong>食事量</strong></td>
    <th class="input_care_record"><%= @care_record.meal_size %>割</th>
  </tr>
  <tr>
    <td class="title_care_record"><strong>連絡事項</strong></td>
    <th colspan="3" class="input_care_record"><%= @care_record.contact %></th>
  </tr>

</table>
<%= link_to '編集', edit_care_record_path(@care_record) %> |
<%= link_to '一覧', care_records_path %>




<input type="checkbox" class="check" id="checked">
<label class="menu-btn" for="checked">
        <span class="bar top"></span>
        <span class="bar middle"></span>
        <span class="bar bottom"></span>
        <span class="menu-btn__text">MENU</span>
</label>
<label class="close-menu" for="checked"></label>
<nav class="drawer-menu">
        <ul>
            <li><%= link_to '編集', edit_care_record_path(@care_record) %></li>
            <li><%= link_to '一覧', care_records_path %></li>
        </ul>
</nav>