<p id="notice"><%= notice %></p>
<h1>本日の介護記録作成状況</h1>

<table>
  <thead>
    <tr class="title_care_record">
      <th>介護記録No.</th>
      <th>日付</th>
      <th>利用者氏名</th>
      <th>到着時間</th>
      <th>出発時間</th>
      <th>体温</th>
      <th>ステータス</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @care_records.each do |care_record| %>
      <tr>
        <td><%= link_to care_record.id ,care_record %></td>
        <td><%= care_record.day.strftime("%Y年%m月%d日") %></td>
        <td>様</td>
        <td><%= care_record.arrive_time.strftime("%H:%M") %></td>
        <td><%= care_record.leave_time.strftime("%H:%M") %></td>
        <td><%= care_record.temperature %>度</td>
        <td><%= care_record.status_text %></td>
        <td><%= link_to '削除', care_record, method: :delete, data: { confirm: '削除すると復元できませんがよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新規作成', new_care_record_path %><br>


<h1 style="margin-bottom: 5px;margin-top:40px;">お知らせ</h1>
<hr style="border-top: 2px dashed ;width: 70%;float:left;">