<!DOCTYPE html>
<html>
<head>
  <title>こんぺいとう基幹システム</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar">
	<div class="container">
		<div id="logo"><%=link_to "こんぺいとう基幹システム",root_path %></div>
	</div>
	<div>
		<ul class="header-right">
			<%= link_to root_path do %>
			<i class="fi-home" style="color: white; margin: 40px;font-size:30px;"></i>
			<% end %>
		</ul>
	</div>
</header>
<div class="sidebar" id="accordion">
	<ul>
		<li>
			<div>
				<label>
					<input type="radio" name="btn"/>
					<div>
						<i class="fi-torso"></i> <%= link_to "スタッフ管理",s_top_path%>
					</div>
				</label>
				<ul class="aaa">
					<li><a href="#">サブカテゴリー１</a></li>
					<li><a href="#">サブカテゴリー２</a></li>
	        	</ul>
        	</div>
    	</li>
    	<li>
    		<div>
				<input type="radio" name="btn" />
				<div>
					<i class="fi-torso-business"></i> <%= link_to "ケアマネ管理",care_top_path%>
				</div>
			</div>
		</li>
    	<li>
    		<div>
    			<label>
					<input type="radio" name="btn"/>
					<div>
						<i class="fi-blind"> </i>利用者管理
					</div>
				</label>
			</div>
		</li>
    	<li>
    		<div>
				<input type="radio" name="btn" />
				<div>
					<i class="fi-list-thumbnails"> </i>介護記録管理</li>
				</div>
			</div>
		</li>
	</ul>
</div>
<!--ここに本文-->
<div class="main">
	<%= yield %>
</div>
<!--ここまで本文-->


</body>
<footer class="footer">
	<div class="small">
		&copy; 2015 conpeitou, Inc.
	</div>
	<div class="access">
		<p>042-783-0761</p>
		<p>神奈川県相模原市緑区</p>
	</div>
</footer>
</html>
