<!DOCTYPE html>
<html>
<head>
  <title>こんぺいとう基幹システム</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar">
	<div class="container">
		<div id="logo"><%=link_to "こんぺいとう基幹システム",root_path %></div>
	</div>
	<div>
		<ul class="header-right">
			<%= link_to root_path do %>
			<i class="fi-home" style="color: white; margin: 40px;font-size:30px;"></i>
			<% end %>
		</ul>
	</div>
</header>
<div class="sidebar" id="accordion">
	<ul id="dropmenu">
		<li><%= link_to "スタッフ管理",s_top_path%>
				<ul>
					<li><%= link_to "新規登録",new_staff_path%></li>
					<li><%= link_to "一覧表示",staffs_path%></li>
		        </ul>
		</li>
    	<li><%= link_to "ケアマネ管理",care_top_path%>
    		<ul>
				<li><%= link_to "新規登録",new_caremanager_path%></li>
				<li><%= link_to "一覧表示",caremanagers_path%></li>
			</ul>
		</li>
    	<li><%= link_to "利用者管理",care_top_path%>
    		<ul>
				<li><%= link_to "新規登録",new_caremanager_path%></li>
				<li><%= link_to "一覧表示",caremanagers_path%></li>
			</ul>
		</li>
    	<li><%= link_to "介護記録管理",care_top_path%>
    		<ul>
				<li><%= link_to "新規作成",new_caremanager_path%></li>
				<li><%= link_to "検索",caremanagers_path%></li>
			</ul>
		</li>
		<li><%= link_to "連絡帳管理",s_top_path%>
			<ul>
				<li><%= link_to "新規登録",cus_families_path%></li>
				<li><%= link_to "一覧表示",staffs_path%></li>
				<li><%= link_to "印刷",staffs_path%></li>
			</ul>
		</li>
	</ul>
</div>
<!--ここに本文-->
<div class="main">
	<%= yield %>
</div>
<!--ここまで本文-->


</body>
</html>
